$baseFontSize: 20px;

$fontRoboto: 'Roboto', sans-serif;
$fontSourceSansPro:'Source Sans Pro', sans-serif;

$whiteColor: #fff;
$blackColor: #000;

$greenColor: #57DE54;
$redColor: #FE0404;

$baseBdColor: #C9DEF1;
$additionalBdColor: #C4C4C4;


