:root {
  --base-font-size: 20px;

  --main-font-size: 18px;
  --title-font-size: 36px;
  --big-font-size: 40px;
  --medium-font-size: 24px;
  --small-font-size: 14px;

  --small-border-radius: 5px;
  --medium-border-radius: 10px;
  --border-radius-50: 50%;

  --base-height-btn: 60px;

  --font-roboto: 'Roboto', sans-serif;
  --font-source-sans-pro:'Source Sans Pro', sans-serif;

  --dark-color: #000;
  --dark-color-rgb: 0, 0, 0;
  --light-color: #fff;
  --success-color: #57DE54;
  --success-color-rgb: 87, 222, 84;
  --danger-color: #FE0404;
  --danger-color-rgb: 254, 4, 4;
  --muted-color: #D6E6F5;
  --muted-color-rgb: 214, 230, 245;

  --base-bg-color: #C9DEF1;
  --additional-bg-color: #C4C4C4;
}