.my-swiper {
  width: 100%;
  height: 100%;

  &__slide {
    text-align: center;
    background: $additionalBGColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    min-height: 535px;

    @media (max-width: 992px) {
      min-height: 480px;
    }
    @media (max-width: 768px) {
      min-height: 420px;
    }
    @media (max-width: 576px) {
      min-height: 360px;
    }
    @media (max-width: 480px) {
      min-height: 280px;
    }
  }

  .swiper-button-prev {
    &::after {
      content: '';
      font-family: none;

      min-width: px2rem(40px);
      min-height: px2rem(40px);
      border-left: px2rem(10px) solid $darkColor;
      border-bottom: px2rem(10px) solid $darkColor;
      transition: 0.2s;
      transform: translate3d(px2rem(20px), 0, 0) rotate(45deg);
      
    }
    &:hover::after {
      filter: drop-shadow(px2rem(5px) 0px px2rem(5px) $darkColor);
    }
  }

  .swiper-button-next {
    &::after {
      content: '';
      font-family: none;

      min-width: px2rem(40px);
      min-height: px2rem(40px);
      border-right: px2rem(10px) solid $darkColor;
      border-top: px2rem(10px) solid $darkColor;
      transition: 0.2s;
      transform: translate3d(px2rem(-20px), 0, 0) rotate(45deg);
      
    }
    &:hover::after {
      filter: drop-shadow(0px px2rem(5px) px2rem(5px) $darkColor);
    }
  }
}